{
    "assumptions": {
        "setPublicClassFields": true
    },
    "plugins": [
        [
            "@babel/plugin-transform-typescript",
            {
                "allowDeclareFields": true
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "decoratorsBeforeExport": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties"
        ]
    ],
    "prismjs": {
        "languages": [
            "clike",
            "javascript",
            "typescript",
            "java",
            "c",
            "cpp",
            "python",
            "ruby",
            "markup",
            "markup-templating",
            "php",
            "go",
            "csharp",
            "css",
            "markdown",
            "sql",
            "json"
        ],
        "plugins": [
            "line-numbers"
        ],
        "theme": "default",
        "css": true
    }
}